.mining-group {
  position: relative;
  
  overflow:hidden;
  width: 100%;
  text-align: center;
  img.text {
    max-width: 80vw;
    width:100%;
  }
  .astro {
    position: absolute;
    transform: translate(-231px, -113px);
  }
}
